# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
    - id: check-added-large-files
    - id: check-case-conflict
    - id: check-executables-have-shebangs
    - id: check-json
    - id: check-merge-conflict
    - id: check-shebang-scripts-are-executable
    - id: check-symlinks
    - id: check-xml
    - id: check-yaml
    - id: debug-statements
    - id: destroyed-symlinks
    - id: detect-private-key
    - id: end-of-file-fixer
    - id: fix-encoding-pragma
    - id: mixed-line-ending
      args: ["--fix", "auto"]
    - id: name-tests-test
      args: ["--pytest-test-first"]
    - id: check-yaml
    - id: requirements-txt-fixer
    - id: sort-simple-yaml
    - id: trailing-whitespace

- repo: https://github.com/pycqa/isort
  rev: 5.12.0
  hooks:
    - id: isort
      args: ["--profile", "black", "--filter-files"]

- repo: https://github.com/pycqa/flake8
  rev: 6.0.0
  hooks:
    - id: flake8
      additional_dependencies:
        - flake8-bugbear
        - flake8-comprehensions
        - flake8-simplify
      # keep in sync with .flake8
      exclude: TA_dataset/lib/dataset_query_api_client

- repo: https://github.com/psf/black
  rev: 23.7.0
  hooks:
    - id: black
      args: ["--verbose", "--config", ".black", "--experimental-string-processing"]

- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.4.1
  hooks:
    - id: mypy
      additional_dependencies:
        ["types-requests"]
      args:
      - "--config-file"
      - ".mypy.ini"
