name: UCC Gen Validation
on: [pull_request]

permissions:
  contents: read

# We don't want to cancel any redundant runs on main so we use run_id when head_ref is
# not available
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  validate:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup python
        uses: actions/setup-python@v5
        with:
          python-version: "3.8"
          cache: "pip"

      - name: Install dependencies
        run: |
          make dev-install-dependencies-pack
          make dev-install-dependencies-pack-sudo
          make dev-install-dependencies-for-development

      - name: Export current snapshot of app
        run: echo "SDLAPP_VERSION_CURRENT_SNAPSHOT=$(jq -r '.meta.version' globalConfig.json)" >> $GITHUB_ENV

      - name: Validate release
        run: |
          scripts/pack.sh \
            --version "${{ env.SDLAPP_VERSION_CURRENT_SNAPSHOT }}" \
            --input TA_dataset \
            --output output \
            --release release

      - name: Store Release Folder
        uses: actions/upload-artifact@v6
        if: always()
        with:
          name: release
          path: release
          retention-days: 30

      - name: Store Output Folder
        uses: actions/upload-artifact@v6
        if: always()
        with:
          name: output
          path: output
          retention-days: 30
