name: Validate
on: [pull_request]

permissions:
  contents: read

jobs:
  validate:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup python
        uses: actions/setup-python@v4
        with:
          python-version: '3.8'
          cache: 'pip'

      - name: Install dependencies
        run: |
          make dev-install-dependencies-pack
          make dev-install-dependencies-pack-sudo

      - name: Export current snapshot of app
        run: echo "SDLAPP_VERSION_CURRENT_SNAPSHOT=$(jq -r '.meta.version' globalConfig.json)" >> $GITHUB_ENV

      - name: Validate release
        run: |
          ucc-gen build --source TA_dataset --ta-version ${{ env.SDLAPP_VERSION_CURRENT_SNAPSHOT }}
          slim package output/TA_dataset -o release
          ls -l release
          slim validate release/TA_dataset-${{ env.SDLAPP_VERSION_CURRENT_SNAPSHOT }}.tar.gz
          splunk-appinspect inspect TA_dataset --included-tags splunk_appinspect
